<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a class="navbar-brand px-3 text-white" href="/"> <i class="bi bi-mortarboard-fill" style="font-size: 2rem;"></i> Academia AI v1.0</a>
  
  <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas" aria-controls="sidebarOffcanvas" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-nav ms-auto me-3">
    <div class="nav-item">
      <a href="/profile" class="nav-link d-flex align-items-center text-white" id="userDropdownMenuLink" role="button" aria-expanded="false">
      
        <% if (locals.user.avatarUrl) { %>
          <img src="<%= locals.user.avatarUrl %>" alt="Avatar" width="32" height="32" class="rounded-circle me-2" style="object-fit: cover;">
        <% } else { %>
          <i class="bi bi-person-circle fs-4 me-2"></i>
        <% } %>
        <%= locals.user.name || locals.user.email %>
      </a>
    </div>
  </div>

</header>
